-- =========================================================
-- Lab 2 - Database initialization script
-- Generated from my own map.GeoJSON (Lab 1)
-- Layers: buildings, roads
-- =========================================================

CREATE EXTENSION IF NOT EXISTS postgis;

DROP TABLE IF EXISTS public.buildings CASCADE;
DROP TABLE IF EXISTS public.roads CASCADE;

-- =========================================================
-- Table: buildings
-- =========================================================

CREATE TABLE public.buildings (
    ogc_fid integer,
    geom public.geometry(Geometry,4326),
    "timestamp" timestamp with time zone,
    version character varying,
    changeset character varying,
    "user" character varying,
    uid character varying,
    "addr:city" character varying,
    "addr:district" character varying,
    "addr:housename" character varying,
    "addr:housenumber" character varying,
    "addr:postcode" character varying,
    "addr:province" character varying,
    "addr:street" character varying,
    "addr:subdistrict" character varying,
    admin_level character varying,
    alt_name character varying,
    amenity character varying,
    atm character varying,
    boundary character varying,
    branch character varying,
    brand character varying,
    "brand:wikidata" character varying,
    building character varying,
    "building:levels" character varying,
    "contact:facebook" character varying,
    cuisine character varying,
    description character varying,
    "description:vi" character varying,
    "diet:vegan" character varying,
    drive_through character varying,
    entrance character varying,
    highway character varying,
    house character varying,
    internet_access character varying,
    "internet_access:fee" character varying,
    layer character varying,
    leisure character varying,
    maxspeed character varying,
    motorcar character varying,
    name character varying,
    "name:en" character varying,
    "name:vi" character varying,
    "natural" character varying,
    note character varying,
    office character varying,
    official_name character varying,
    "official_name:en" character varying,
    "official_name:vi" character varying,
    opening_hours character varying,
    operator character varying,
    "operator:wikidata" character varying,
    outdoor_seating character varying,
    phone character varying,
    place character varying,
    population character varying,
    public_transport character varying,
    religion character varying,
    service character varying,
    shop character varying,
    source character varying,
    surface character varying,
    takeaway character varying,
    type character varying,
    uarea character varying,
    website character varying,
    wikidata character varying,
    wikipedia character varying,
    id character varying
);



-- =========================================================
-- Table: roads
-- =========================================================

CREATE TABLE public.roads (
    ogc_fid integer,
    geom public.geometry(Geometry,4326),
    "timestamp" timestamp with time zone,
    version character varying,
    changeset character varying,
    "user" character varying,
    uid character varying,
    "addr:city" character varying,
    "addr:district" character varying,
    "addr:housename" character varying,
    "addr:housenumber" character varying,
    "addr:postcode" character varying,
    "addr:province" character varying,
    "addr:street" character varying,
    "addr:subdistrict" character varying,
    admin_level character varying,
    alt_name character varying,
    amenity character varying,
    atm character varying,
    boundary character varying,
    branch character varying,
    brand character varying,
    "brand:wikidata" character varying,
    building character varying,
    "building:levels" character varying,
    "contact:facebook" character varying,
    cuisine character varying,
    description character varying,
    "description:vi" character varying,
    "diet:vegan" character varying,
    drive_through character varying,
    entrance character varying,
    highway character varying,
    house character varying,
    internet_access character varying,
    "internet_access:fee" character varying,
    layer character varying,
    leisure character varying,
    maxspeed character varying,
    motorcar character varying,
    name character varying,
    "name:en" character varying,
    "name:vi" character varying,
    "natural" character varying,
    note character varying,
    office character varying,
    official_name character varying,
    "official_name:en" character varying,
    "official_name:vi" character varying,
    opening_hours character varying,
    operator character varying,
    "operator:wikidata" character varying,
    outdoor_seating character varying,
    phone character varying,
    place character varying,
    population character varying,
    public_transport character varying,
    religion character varying,
    service character varying,
    shop character varying,
    source character varying,
    surface character varying,
    takeaway character varying,
    type character varying,
    uarea character varying,
    website character varying,
    wikidata character varying,
    wikipedia character varying,
    id character varying
);


--
-- Data: buildings
--



--
-- Data : roads
--



-- Spatial indexes
-- =========================================================
CREATE INDEX idx_buildings_geom ON public.buildings USING gist (geom);
CREATE INDEX idx_roads_geom ON public.roads USING gist (geom);
