# Node
node_modules/
npm-debug.log*

# Vite / build
dist/
.vite/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Docker volumes
*.db
*.sqlite

# Temporary files
tmp/
*.tmp

geoserver_data/**/*.lck
geoserver_data/**/*.lock

geoserver_data/**/*.bak

geoserver_data/gwc/

geoserver_data/tmp/
geoserver_data/logs/