--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ogr_system_tables; Type: SCHEMA; Schema: -; Owner: gisuser
--

CREATE SCHEMA ogr_system_tables;


ALTER SCHEMA ogr_system_tables OWNER TO gisuser;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: event_trigger_function_for_metadata(); Type: FUNCTION; Schema: ogr_system_tables; Owner: gisuser
--

CREATE FUNCTION ogr_system_tables.event_trigger_function_for_metadata() RETURNS event_trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    obj record;
BEGIN
  IF has_schema_privilege('ogr_system_tables', 'USAGE') THEN
   IF has_table_privilege('ogr_system_tables.metadata', 'DELETE') THEN
    FOR obj IN SELECT * FROM pg_event_trigger_dropped_objects()
    LOOP
        IF obj.object_type = 'table' THEN
            DELETE FROM ogr_system_tables.metadata m WHERE m.schema_name = obj.schema_name AND m.table_name = obj.object_name;
        END IF;
    END LOOP;
   END IF;
  END IF;
END;
$$;


ALTER FUNCTION ogr_system_tables.event_trigger_function_for_metadata() OWNER TO gisuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: metadata; Type: TABLE; Schema: ogr_system_tables; Owner: gisuser
--

CREATE TABLE ogr_system_tables.metadata (
    id integer NOT NULL,
    schema_name text NOT NULL,
    table_name text NOT NULL,
    metadata text
);


ALTER TABLE ogr_system_tables.metadata OWNER TO gisuser;

--
-- Name: metadata_id_seq; Type: SEQUENCE; Schema: ogr_system_tables; Owner: gisuser
--

CREATE SEQUENCE ogr_system_tables.metadata_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ogr_system_tables.metadata_id_seq OWNER TO gisuser;

--
-- Name: metadata_id_seq; Type: SEQUENCE OWNED BY; Schema: ogr_system_tables; Owner: gisuser
--

ALTER SEQUENCE ogr_system_tables.metadata_id_seq OWNED BY ogr_system_tables.metadata.id;


--
-- Name: buildings; Type: TABLE; Schema: public; Owner: gisuser
--

CREATE TABLE public.buildings (
    ogc_fid integer,
    geom public.geometry(Geometry,4326),
    "timestamp" timestamp with time zone,
    version character varying,
    changeset character varying,
    "user" character varying,
    uid character varying,
    "addr:housenumber" character varying,
    "addr:place" character varying,
    "addr:street" character varying,
    barrier character varying,
    building character varying,
    "building:levels" character varying,
    highway character varying,
    landuse character varying,
    name character varying,
    "name:ru" character varying,
    "natural" character varying,
    place character varying,
    service character varying,
    surface character varying,
    type character varying,
    wetland character varying,
    id character varying NOT NULL
);


ALTER TABLE public.buildings OWNER TO gisuser;

--
-- Name: poi; Type: TABLE; Schema: public; Owner: gisuser
--

CREATE TABLE public.poi (
    ogc_fid integer,
    geom public.geometry(Geometry,4326),
    "timestamp" timestamp with time zone,
    version character varying,
    changeset character varying,
    "user" character varying,
    uid character varying,
    "addr:housenumber" character varying,
    "addr:place" character varying,
    "addr:street" character varying,
    barrier character varying,
    building character varying,
    "building:levels" character varying,
    highway character varying,
    landuse character varying,
    name character varying,
    "name:ru" character varying,
    "natural" character varying,
    place character varying,
    service character varying,
    surface character varying,
    type character varying,
    wetland character varying,
    id character varying NOT NULL
);


ALTER TABLE public.poi OWNER TO gisuser;

--
-- Name: roads; Type: TABLE; Schema: public; Owner: gisuser
--

CREATE TABLE public.roads (
    ogc_fid integer,
    geom public.geometry(Geometry,4326),
    "timestamp" timestamp with time zone,
    version character varying,
    changeset character varying,
    "user" character varying,
    uid character varying,
    "addr:housenumber" character varying,
    "addr:place" character varying,
    "addr:street" character varying,
    barrier character varying,
    building character varying,
    "building:levels" character varying,
    highway character varying,
    landuse character varying,
    name character varying,
    "name:ru" character varying,
    "natural" character varying,
    place character varying,
    service character varying,
    surface character varying,
    type character varying,
    wetland character varying,
    id character varying NOT NULL
);


ALTER TABLE public.roads OWNER TO gisuser;

--
-- Name: metadata id; Type: DEFAULT; Schema: ogr_system_tables; Owner: gisuser
--

ALTER TABLE ONLY ogr_system_tables.metadata ALTER COLUMN id SET DEFAULT nextval('ogr_system_tables.metadata_id_seq'::regclass);


--
-- Data for Name: metadata; Type: TABLE DATA; Schema: ogr_system_tables; Owner: gisuser
--

COPY ogr_system_tables.metadata (id, schema_name, table_name, metadata) FROM stdin;
\.


--
-- Data for Name: buildings; Type: TABLE DATA; Schema: public; Owner: gisuser
--



--
-- Data for Name: poi; Type: TABLE DATA; Schema: public; Owner: gisuser
--

COPY public.poi (ogc_fid, geom, "timestamp", version, changeset, "user", uid, "addr:housenumber", "addr:place", "addr:street", barrier, building, "building:levels", highway, landuse, name, "name:ru", "natural", place, service, surface, type, wetland, id) FROM stdin;
57	0104000020E61000000100000001010000003CA98A04AE384940850B790437A04A40	2026-02-14 10:20:28+00	1	178537565	Petruchio_	23825507	\N	\N	\N	lift_gate	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N	node/13563811334
\.


--
-- Data for Name: roads; Type: TABLE DATA; Schema: public; Owner: gisuser
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: gisuser
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Name: metadata_id_seq; Type: SEQUENCE SET; Schema: ogr_system_tables; Owner: gisuser
--

SELECT pg_catalog.setval('ogr_system_tables.metadata_id_seq', 2, true);


--
-- Name: metadata metadata_schema_name_table_name_key; Type: CONSTRAINT; Schema: ogr_system_tables; Owner: gisuser
--

ALTER TABLE ONLY ogr_system_tables.metadata
    ADD CONSTRAINT metadata_schema_name_table_name_key UNIQUE (schema_name, table_name);


--
-- Name: buildings buildings_pkey; Type: CONSTRAINT; Schema: public; Owner: gisuser
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_pkey PRIMARY KEY (id);


--
-- Name: poi poi_pkey; Type: CONSTRAINT; Schema: public; Owner: gisuser
--

ALTER TABLE ONLY public.poi
    ADD CONSTRAINT poi_pkey PRIMARY KEY (id);


--
-- Name: roads roads_pkey; Type: CONSTRAINT; Schema: public; Owner: gisuser
--

ALTER TABLE ONLY public.roads
    ADD CONSTRAINT roads_pkey PRIMARY KEY (id);


--
-- Name: idx_buildings_geom; Type: INDEX; Schema: public; Owner: gisuser
--

CREATE INDEX idx_buildings_geom ON public.buildings USING gist (geom);


--
-- Name: idx_poi_geom; Type: INDEX; Schema: public; Owner: gisuser
--

CREATE INDEX idx_poi_geom ON public.poi USING gist (geom);


--
-- Name: idx_roads_geom; Type: INDEX; Schema: public; Owner: gisuser
--

CREATE INDEX idx_roads_geom ON public.roads USING gist (geom);


--
-- Name: ogr_system_tables_event_trigger_for_metadata; Type: EVENT TRIGGER; Schema: -; Owner: gisuser
--

CREATE EVENT TRIGGER ogr_system_tables_event_trigger_for_metadata ON sql_drop
   EXECUTE FUNCTION ogr_system_tables.event_trigger_function_for_metadata();


ALTER EVENT TRIGGER ogr_system_tables_event_trigger_for_metadata OWNER TO gisuser;

--
-- PostgreSQL database dump complete
--

